@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;600;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 110%;
}

@media (max-width: 1350px) {
  html {
    font-size: 100%;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 90%;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 80%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 70%;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 60%;
  }
}

@media (max-width: 320px) {
  html {
    font-size: 50%;
  }
}

body {
  margin: 0;
}

:root {
  --bg-clr-1: #333;
  --bg-clr-2: #ccc;
  --bg-clr-3: #eee;
  --bg-clr-4: #143e72;
  --bg-clr-5: #ddd;
  --color-1: #eee;
  --font-1: 'Maven Pro', sans-serif;
  --ft-wght-1: 400;
  --ft-wght-2: 700;
  --bx-shd-1: 0px 0px 10px rgba(0, 0, 0, 0.2);
  --bdr-rad-1: 3px;
}

.App {
  min-height: 100vh;
  position: relative;
}

.App .Header {
  background-color: var(--bg-clr-1);
  color: var(--color-1);
  padding: 1rem 1.5rem;
  position: absolute;
  width: 100%;
  top: 0;
}

.App .Header h1 {
  margin-block: 0;
  font-family: var(--font-1);
  font-weight: var(--ft-wght-2);
  font-size: 3rem;
}

.App .Header h1 i {
  margin-right: 0.6rem;
}

.App .Main {
  background-color: var(--bg-clr-2);
  min-height: inherit;
  padding: 8rem 3rem;
  font-family: var(--font-1);
  font-weight: var(--ft-wght-1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  gap: 2rem;
}

@media (min-width: 1450px) {
  .App .Main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

.App .Main .Form {
  width: 40rem;
  height: 54rem;
  background-color: var(--bg-clr-3);
  font-size: 1rem;
  padding: 0 1rem 1rem;
  border-radius: var(--bdr-rad-1);
  overflow: auto;
}

.App .Main .Form::-webkit-scrollbar {
  width: 5px;
  background: rgba(255, 255, 255, 0.5);
}

.App .Main .Form::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
}

.App .Main .Form .Section {
  margin-bottom: 3rem;
}

.App .Main .Form .Section h3 {
  font-size: 1.6rem;
}

.App .Main .Form .Section .Input-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.App .Main .Form .Section .Input-name .Input {
  width: 47%;
}

.App .Main .Form .Section .Input-group {
  margin-top: 25px;
}

.App .Main .Form .Section .Input-group .Input-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.App .Main .Form .Section .Input-group .Input-time .Input {
  width: 47%;
}

.App .Main .Form .Section .custom-file-upload {
  margin-top: 1rem;
}

.App .Main .Form .Section .custom-file-upload label {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 0.7rem 0.9rem;
  cursor: pointer;
}

.App .Main .Form .Section .custom-file-upload label i {
  margin-left: 0.4rem;
}

.App .Main .Form .Section .custom-file-upload input {
  display: none;
}

.App .Main .Form .Section .Input {
  margin-bottom: 7px;
}

.App .Main .Form .Section .Input label {
  display: block;
  margin-bottom: 5px;
}

.App .Main .Form .Section .Input input,
.App .Main .Form .Section .Input textarea {
  padding: 6px;
  font-family: inherit;
  border: none;
  width: 100%;
  border-radius: var(--bdr-rad-1);
  font-size: inherit;
}

.App .Main .Form .Section .Input input:focus,
.App .Main .Form .Section .Input textarea:focus {
  outline: none;
  -webkit-box-shadow: var(--bx-shd-1);
          box-shadow: var(--bx-shd-1);
}

.App .Main .Form .Section .Input input {
  height: 2.2rem;
}

.App .Main .Form .Section .Input textarea {
  height: 4rem;
  resize: none;
}

.App .Main .Form .Section button {
  background-color: var(--bg-clr-1);
  width: 100%;
  border: none;
  color: var(--color-1);
  border-radius: var(--bdr-rad-1);
  height: 3rem;
  margin-top: 15px;
  font-size: inherit;
  font-family: var(--font-1);
  font-weight: var(--ft-wght-2);
}

.App .Main .Form .Section button.add {
  margin-top: 0px;
}

.App .Main .Form .Section button:hover {
  cursor: pointer;
  -webkit-filter: brightness(1.2);
          filter: brightness(1.2);
}

.App .Main .Form button {
  width: 100%;
  border: none;
  color: var(--color-1);
  border-radius: var(--bdr-rad-1);
  height: 3rem;
  margin-top: 15px;
  font-size: inherit;
  font-family: var(--font-1);
  font-weight: var(--ft-wght-2);
}

.App .Main .Form button.add {
  margin-top: 0px;
}

.App .Main .Form button:hover {
  cursor: pointer;
  -webkit-filter: brightness(1.2);
          filter: brightness(1.2);
}

.App .Main .Form .Preview {
  display: none;
}

.App .Footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0.8rem;
  background-color: var(--bg-clr-1);
  color: var(--color-1);
  font-family: var(--font-1);
  font-weight: var(--ft-wght-2);
}

.App .Footer .footer-content {
  text-align: center;
}

.App .Footer .footer-content i {
  color: var(--color-1);
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  margin-left: 0.6rem;
}

.App .Footer .footer-content i:hover {
  bottom: 0.3rem;
  -webkit-transform: translateY(-0.2rem);
          transform: translateY(-0.2rem);
  text-shadow: 0px 0px 5px white;
}

._Preview {
  min-width: 210mm;
  width: 210mm;
  height: 297mm;
  font-size: 15px;
  font-weight: 400;
}

._header {
  background-color: var(--bg-clr-4);
  height: 30mm;
  position: relative;
  padding-left: 30px;
}

._header .full-name {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 50px;
  color: white;
  font-weight: 600;
}

._body {
  height: 267mm;
}

._main,
._aside {
  height: 267mm;
  padding: 10px;
  display: inline-block;
  vertical-align: top;
}

._main {
  background-color: var(--bg-clr-3);
  width: 160mm;
}

._main h4,
._aside h4 {
  font-size: 18px;
  border-bottom: var(--bg-clr-2) 1px solid;
  color: var(--bg-clr-4);
  padding-bottom: 3px;
}

._main .input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-block: 30px;
}

._main .time {
  width: 55mm;
}

._aside {
  width: 50mm;
  background-color: var(--bg-clr-5);
  word-break: break-all;
}

._aside img {
  width: 100%;
  aspect-ratio: 3/4;
  background-color: lightsteelblue;
}

._aside div {
  margin-bottom: 15px;
}

._aside div:first-of-type span {
  line-height: 1.2;
}

._aside h5 {
  font-size: 16px;
  margin: 0;
  margin-bottom: 6px;
}
/*# sourceMappingURL=index.css.map */