@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;600;700&display=swap');
* {
    box-sizing: border-box;
}

html {
    font-size: 110%;
    @media (max-width: 1350px) {
        font-size: 100%;
    }
    @media (max-width: 1200px) {
        font-size: 90%;
    }
    @media (max-width: 1024px) {
        font-size: 80%;
    }
    @media (max-width: 768px) {
        font-size: 70%;
    }
    @media (max-width: 480px) {
        font-size: 60%;
    }
    @media (max-width: 320px) {
        font-size: 50%;
    }
}

body {
    margin: 0;
}

:root {
    --bg-clr-1: #333;
    --bg-clr-2: #ccc;
    --bg-clr-3: #eee;
    --bg-clr-4: #143e72;
    --bg-clr-5: #ddd;
    --color-1: #eee;
    --font-1: 'Maven Pro', sans-serif;
    --ft-wght-1: 400;
    --ft-wght-2: 700;
    --bx-shd-1: 0px 0px 10px rgba(0, 0, 0, 0.2);
    --bdr-rad-1: 3px;
}

@mixin wght-1-font {
    font-family: var(--font-1);
    font-weight: var(--ft-wght-1);
}

@mixin wght-2-font {
    font-family: var(--font-1);
    font-weight: var(--ft-wght-2);
}

@mixin styling-btns {
    width: 100%;
    border: none;
    color: var(--color-1);
    border-radius: var(--bdr-rad-1);
    height: 3rem;
    margin-top: 15px;
    &.add {
        margin-top: 0px;
    }
    font-size: inherit;
    @include wght-2-font;
    &:hover {
        cursor: pointer;
        filter: brightness(1.2);
    }
}

@mixin grouping-Inputs {
    display: flex;
    justify-content: space-between;
    .Input {
        width: 47%;
    }
}

.App {
    min-height: 100vh;
    position: relative;
    .Header {
        background-color: var(--bg-clr-1);
        color: var(--color-1);
        padding: 1rem 1.5rem;
        position: absolute;
        width: 100%;
        top: 0;
        h1 {
            margin-block: 0;
            @include wght-2-font;
            font-size: 3rem;
            i {
                margin-right: 0.6rem;
            }
        }
    }
    .Main {
        background-color: var(--bg-clr-2);
        min-height: inherit;
        padding: 8rem 3rem;
        @include wght-1-font;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
        gap: 2rem;
        @media (min-width: 1450px) {
            flex-flow: row;
            align-items: start;
        }
        .Form {
            width: 40rem;
            height: 54rem;
            background-color: var(--bg-clr-3);
            font-size: 1rem;
            padding: 0 1rem 1rem;
            border-radius: var(--bdr-rad-1);
            overflow: auto;
            &::-webkit-scrollbar {
                width: 5px;
                background: rgba(255, 255, 255, 0.5);
            }
            &::-webkit-scrollbar-thumb {
                background-color: rgba(0, 0, 0, 0.3);
            }
            .Section {
                margin-bottom: 3rem;
                h3 {
                    font-size: 1.6rem;
                }
                .Input-name {
                    @include grouping-Inputs()
                }
                .Input-group {
                    margin-top: 25px;
                    .Input-time {
                        @include grouping-Inputs()
                    }
                }
                .custom-file-upload {
                    margin-top: 1rem;
                    label {
                        border: 1px solid #ccc;
                        display: inline-block;
                        padding: 0.7rem 0.9rem;
                        cursor: pointer;
                        i {
                            margin-left: 0.4rem;
                        }
                    }
                    input {
                        display: none;
                    }
                }
                .Input {
                    margin-bottom: 7px;
                    label {
                        display: block;
                        margin-bottom: 5px;
                    }
                    input,
                    textarea {
                        padding: 6px;
                        font-family: inherit;
                        border: none;
                        width: 100%;
                        border-radius: var(--bdr-rad-1);
                        font-size: inherit;
                        &:focus {
                            outline: none;
                            box-shadow: var(--bx-shd-1);
                        }
                    }
                    input {
                        height: 2.2rem;
                    }
                    textarea {
                        height: 4rem;
                        resize: none;
                    }
                }
                button {
                    background-color: var(--bg-clr-1);
                    @include styling-btns();
                }
            }
            button {
                @include styling-btns();
            }
            .Preview {
                display: none;
            }
        }
        // Preview stylings are below
    }
    .Footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 0.8rem;
        background-color: var(--bg-clr-1);
        color: var(--color-1);
        @include wght-2-font;
        .footer-content {
            text-align: center;
            i {
                color: var(--color-1);
                transition: all ease 0.3s;
                margin-left: 0.6rem;
                &:hover {
                    bottom: 0.3rem;
                    transform: translateY(-0.2rem);
                    text-shadow: 0px 0px 5px white;
                }
            }
        }
    }
}

// Below is styling for both Preview printing + web display
._Preview {
    min-width: 210mm;
    width: 210mm;
    height: 297mm;
    font-size: 15px;
    font-weight: 400;
}

._header {
    background-color: var(--bg-clr-4);
    height: 30mm;
    position: relative;
    padding-left: 30px;
}

._header .full-name {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    color: white;
    font-weight: 600;
}

._body {
    height: 267mm;
}

._main,
._aside {
    height: 267mm;
    padding: 10px;
    display: inline-block;
    vertical-align: top;
}

._main {
    background-color: var(--bg-clr-3);
    width: 160mm;
}

._main h4,
._aside h4 {
    font-size: 18px;
    border-bottom: var(--bg-clr-2) 1px solid;
    color: var(--bg-clr-4);
    padding-bottom: 3px;
}

._main .input {
    display: flex;
    align-items: center;
    margin-block: 30px;
}

._main .time {
    width: 55mm;
}

._aside {
    width: 50mm;
    background-color: var(--bg-clr-5);
    word-break: break-all;
}

._aside img {
    width: 100%;
    aspect-ratio: 3/4;
    background-color: lightsteelblue;
}

._aside div {
    margin-bottom: 15px;
}

._aside div:first-of-type span {
    line-height: 1.2;
}

._aside h5 {
    font-size: 16px;
    margin: 0;
    margin-bottom: 6px;
}